<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Location</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeMaps()">Close</button>
        </div>
    </ion-header-bar>

    <ion-content ng-controller="MapController">
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <button class="button" ng-click="closeModal()">Cancel</button>
        <button class="button" ng-click="getLocation()">OK</button>
    </ion-footer-bar>
</ion-modal-view>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>