<ion-modal-view view-title="Create New Event" ng-controller="AddEventCtrl">
  <ion-content>
    <form>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label"></span>
                <input type="text" ng-model="eventData.EventName" placeholder="Event Name" />
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"></span>
                <input type="date" ng-model="eventData.Date" />
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"></span>
                <input type="datetime" ng-model="eventData.Time" placeholder="Event Time" />
            </label>
            <label>
                <span class="item">
                    <button class="button button-dark ion-ios-camera" ng-click="takePic()"></button>
                    <button class="button button-dark ion-ios-location" ng-click="loadLocation()"></button>
                </span>
            </label>
            <label class="item">
                <button class="button button-block button-dark" ng-click="doAddEvent()" type="submit">Add Event</button>
            </label>
        </div>
    </form>
  </ion-content>
<ion-modal-view>
