<ion-modal-view ng-controller="AddEventCtrl">
  <div class="bar bar-header">
    <h1 class="title">Create New Event</h1>
  </div>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input item-floating-label">
          <input type="text" ng-model="eventData.EventName" placeholder="Event Name" />
        </label>
        <label class="item item-input item-floating-label"  placeholder="Event Date">
          <input type="date" ng-model="eventData.Date"/>
        </label>
        <label class="item item-input item-floating-label">
          <input type="time" ng-model="eventData.Time" placeholder="Event Time" />
        </label>
        <label class="item item-input item-floating-label">
          <input type="text" ng-model="eventData.Organizer" placeholder="Event Organizer"/>
        </label>
        <label class="item item-input item-floating-label">
          <input type="text" ng-model="eventData.LocationTitle"/>
          <input type="hidden" ng-model="eventData.LocationLat" />
          <input type="hidden" ng-model="eventData.LocationLng" />
        </label>
        <label>
          <span class="item">
            <i class="icon ion-location-circled"></i>
            <button class="button button-positive" ng-click="loadLocation()">Location</button>
            <button class="button button-positive" ng-click="doAddEvent()" type="submit">Add Event</button>
          </span>
        </label>
        <!--<label class="item item-input">
        <span class="input-label">Event Location</span>
        <input type="text" ng-model="eventData.LocationTitle"/>
        <input type="hidden" ng-model="eventData.LocationLat" />
        <input type="hidden" ng-model="eventData.LocationLng" />
        <div class="row">

      </div>
    </label>-->

  </div>
</form>
</ion-content>
</ion-modal-view>
