<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" close ng-click="getLocation()">Add</button>
    </div>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" close ng-click="closeMaps()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <!-- <input id="pac-input" ng-model="eventData.LocationTitle" type="text" placeholder="Search Box"> -->
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" style="min-height: 400px"></div>
  </ion-content>
</ion-modal-view>
