<ons-page>

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Setting</div>
    </ons-toolbar>

    <div style="text-align: center">
        <h1>Setting</h1>
        <ons-button ng-click="app.slidingMenu.toggleMenu()">Toggle Menu</ons-button><br>
        
    </div>

</ons-page>