<ons-navigator page="teamplate/listEvent.html" var="app.navi">
</ons-navigator>

<ons-template id="teamplate/listEvent.html">
    <ons-page id="list-page">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()">
                    <ons-icon icon="bars"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Master Details</div>
        </ons-toolbar>

        <ons-list>

            <ons-list-item modifier="chevron" class="item">
                <ons-row>
                    <ons-col width="60px">
                        <div class="item-thum"></div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title">Item Title</span>
                            <span class="item-label">4h</span>
                        </header>
                        <div class="location"></div>
                        <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua.</p>
                    </ons-col>
                </ons-row>
            </ons-list-item>

            <ons-list-item modifier="chevron" class="item">
                <ons-row>
                    <ons-col width="60px">
                        <div class="item-thum"></div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title">Another Item Title</span>
                            <span class="item-label">6h</span>
                        </header>
                        <p class="item-desc">Ut enim ad minim veniam.</p>
                    </ons-col>
                </ons-row>
            </ons-list-item>

            <ons-list-item modifier="chevron" class="item">
                <ons-row>
                    <ons-col width="60px">
                        <div class="item-thum"></div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title">Yet Another Item Title</span>
                            <span class="item-label">1day ago</span>
                        </header>
                        <p class="item-desc">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>