<ion-modal-view>
    <ion-header-bar >
        <h1 class = "title">Location</h1>
    </ion-header-bar>

    <ion-content>
        <div id="map" style="min-height: 400px"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <button class = "button" ng-click= "closeModal()">Cancel</button>
        <button class = "button" ng-click= "getLocation()">OK</button>
    </ion-footer-bar>
</ion-modal-view>
