<ons-page style="background-color: white">
    <ons-list>
        <ons-list-item modifier="tappable" class="list__item__line-height" onclick="app.slidingMenu.setMainPage('teamplate/listEvent.html', {closeMenu: true})">
            <i class="fa fa-home fa-lg" style="color: #666"></i>Home Event
        </ons-list-item>

        <ons-list-item modifier="tappable" class="list__item__line-height" onclick="app.slidingMenu.setMainPage('teamplate/createEvent.html', {closeMenu: true})">
            <i class="fa fa-plus fa-lg" style="color: #666"></i>Create Event
        </ons-list-item>
        <ons-list class="bottom-menu-list">
            <ons-list-item modifier="tappable" class="list__item__line-height" onclick="app.slidingMenu.setMainPage('teamplate/createEvent.html', {closeMenu: true})">
                <i class="fa fa-gear fa-lg" style="color: #666"></i> Setting
            </ons-list-item>
        </ons-list>
    </ons-list>
</ons-page>